/* body {
  display: flex;
  justify-content: center;
  margin: auto;
  width: fit-content;
  font-family: fantasy;
} */
.todolist {
  font-size: 50px;
  text-align: center;
}

p.background {
  width: 900px;
  margin: auto;
  
}
.App {
  display: flex;
  flex-direction: column;
  margin: auto;
}
.task{
  width: 400px;
  height: 50px;
  background-color: #f2d015;
  display: flex;
  justify-content: flex-end;

  /* margin-top: 5px; */
  font-family: fantasy;
  margin: auto;
  border: 1px solid black;
  border-radius: 10px;
  
}

 .ajoutemoi {
  width: 150px;
  height: 40px;
  background-color: #c4c3bc;
  display: flex;
  justify-content: center;


  /* margin-top: 5px; */
  font-family: fantasy;
  margin: auto;
  border: 1px solid black;
  border-radius: 10px;
}
.input {
display: flex;
justify-content: center;
  border: 1px solid black;
  border-radius: 10px;
  width: 400px;
  height: 50px;
}
.inputblock  {
  display: flex;
  justify-content: center;
 
}
.checkmark {
  margin-right: 20px;
  
}
.animation img {
  width: 300px;
  height: 300px;
 margin: auto;
 animation: rotateMe 8s linear infinite;

 
  
}
.animation{
  display: flex;

}
.animationTwo{
  font-size: 20px;
  font-weight: bold;
 
}
.icon {
  font-size: 50px;
}
@keyframes rotateMe {
    50%{
    transform: translateX(0px) rotate(360deg);
  }
}