#home-background {
  background: url(./photoCV/homebackgroun.png) center center/cover;
  height: 800px;
  width: 100vw;
  z-index: 1;
  left: 0;
}
/* text of homepage  */
.text {
  font-size: 40px;
  font-family: cursive;
  text-decoration: white;
  color: white;
 
}
.text span {
  color: red;
}
.text div {
  display: flex;
  justify-content: center;
}
/* button view more and arrowdown */
.viewbox {
  border: 2px solid #f9f0f0;
  display: inline-flex;
  font-size: 20px;
  padding: 10px;
  color: white;
  align-items: center;
}
/* button click menu hide and show */
.button-icon {
  width: 50px;
  height: 50px;
  position: fixed;
  z-index: 10;
  margin-right: 5px;
}
header { /* make button icon left of page */
  margin-top: 17px;
  display: flex;
  justify-content: flex-end;
} 
.button-list{
  display: flex;
  justify-content: flex-end;
  color: white;
}

/* ABOUT */
.About {
  width: 100%;
  height: 800px;
}
.About h1 { 
  background-image: url(./photoCV/ABOUT_PHOTO.png); 
}
.style-generale {
  margin-top: 10px;
  width: 100%;
  height: 100px;
  color: #f9f0f0;
  font-size: 40px;
  font-family: cursive;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle {
      background-image: url(./photoCV/ABOUT_PHOTO.png);
      clip-path: circle(50%);
      Width : 200px;
      Height :  200px;
      Top :  150 px;
      Left : 500px;
}
.circle-flex {
  display: flex;
  justify-content: space-between;
  margin: 40px; 
}
.circle-flex span{
  font-size: 20px;
  color: white; 
}
.About p {
text-align: center;
font-size: 20px;
font-family: cursive;
font-weight: bold;
display: flex;
justify-content: center;
}
/*  SKILLS*/
.Skills {
  width: 100%;
  height: 800px;
}
.Skills h1 { 
  background-image: url(./photoCV/ABOUT_PHOTO.png); 
}
.content-skill {
  display: flex;
  justify-content: space-between;
  margin-left: 50px;
  margin-right: 100px;
  
}
.skill-left {
background-image: url(./photoCV/skillbacground-circle.png);
  width: 600px;
  height: 600px;
}
div.photo-cv {
  margin-left: 120px;
  margin-top: 120px;
}
div.photo-cv p {
  font-size: 20px;
  font-weight: bold;
}
.skill-right  p {
 
  width: 400px;
  height: 40px;
  margin-top: 30px;
  border-radius: 10px;
  color: #f9f0f0;
  font-weight: bold;
  justify-content: center;
  display: flex;
  align-items: center;
  transform: rotate(-10deg);
}
#css {
  background-image: url(./photoCV/HTML.png);
}
#HTML {
  background-image: url(./photoCV/HTML.png);
}
#html {
  background-image: url(./photoCV/css.png);
}
#javascrip {
  background-image: url(./photoCV/react.png);
}
#react {
  background-image: url(./photoCV/videopro.png);
}
#bootstrap {
  background-image: url(./photoCV/boostrap.png);
}
#photoshop {
  background-image: url(./photoCV/HTML.png);
}
#videopro {
  background-image: url(./photoCV/SKILL_PHOTO-BACKGROUND.png);
}
 
/* PROJET */
.Projet {
  width: 100%;
  height: 800px;
}
.Projet h1 { 
  background-image: url(./photoCV/ABOUT_PHOTO.png); 
}
/* CONTACT */
